<input type="button" value="create game" {{action 'newGame'}} />

<ul class="games-list">
  {{#each}}
    <li>
      {{name}} <span>{{#linkTo 'game' id}}join{{/linkTo}}</span>
    </li>
  {{/each}}
</ul>
