<form>
  {{input type="text" placeholder="Name" value=name}}<br />
  {{input type="text" placeholder="Start time" value=startTime}}<br />
  <input type="submit" value="create" {{action 'createGame'}} />
</form>
